<section id="home" data-parallax="scroll">
    <div class="overlay"></div>
    <div class="home-content">        
        <div class="row contents">                     
            <div class="home-content-left">
                <h3>Owner Information</h3>
                <h3>
                    <h3>👑 Name : Ryanz</h3>
                    <h3>🇮🇩 City/Country : Bandung, Indonesia</h3>
                    <h3>👤 Contact Me : 6285863725673</h3>
                    <h3>📧 Business Email : ryanzofc@ryanzofc.my.id</h3>
                    <h3>Thanks For Visiting My Website 😗</h3>
                </h3>
                <div class="buttons">
                    <a href="https://api.whatsapp.com/send/?phone=6285863725673&text=Hai%20Bang&app_absent=0" class="button stroke" target="__blank">
                        Owner
                    </a>
                </div>                                         
            </div>
        </div>
    </div> 
</section> 