<section id="about">
	<p> </p>
	<div class="row about-how">
		<h1 class="intro-header">YanzOFC</h1>
		<h4 style="text-align: center;">Hai <%= username %>, Welcome To YanzOfc-API</h4>
	</div>
	<div class="row justify-content-center">
		<h4 data-aos="fade-up">Docs Page</h4>
		<div class="col-twelve"  style="font-size: 16px;">
			<div class="plan-block" data-aos="fade-up">
				<div style="overflow-x:auto !important;">
					<table class="table mb-0" style="width: 100% !important;">
						<thead class="text-primary">
							<tr>
								<th scope="col">NAME</th>
								<th scope="col">VERSION</th>
								<th scope="col">ABOUT</th>
								<th scope="col">DOWNLOADS</th>
							</tr>
						</thead>
						<tbody style="text-align: center !important;">
							<tr>
								<td>My.Id Domain</td>
								<td>Unknown</td>
								<td>Free My.Id Domain</td>
								<td>
									<a href="https://karyawan.co.id/wzXU5" target="_blank">DOWNLOAD</a>
								</td>
							</tr>
							<tr>
								<td>Sc Bot</td>
								<td>V1.0</td>
								<td>Free Whatsapp Bot Script</td>
								<td>
									<a href="https://karyawan.co.id/TB3NB" target="_blank">DOWNLOAD</a>
								</td>
							</tr>
							<tr>
								<td>Bahan Bot RDP</td>
								<td>Unknown</td>
								<td>Bahan Run Bot RDP</td>
								<td>
									<a href="https://karyawan.co.id/t4moYeVd7" target="_blank">DOWNLOAD</a>
								</td>
							</tr>
							<tr>
								<td>Bahan Buat Rdp</td>
								<td>Unknown</td>
								<td>Bahan Buat Bikin Rdp Gratis</td>
								<td>
									<a href="https://karyawan.co.id/7952ZeVRQ" target="_blank">DOWNLOAD</a>
								</td>
							</tr>
							<tr>
								<td>Website Nomor US</td>
								<td>Unknown</td>
								<td>maybe it's not working anymore</td>
								<td>
									<a href="https://karyawan.co.id/F9vcfJk" target="_blank">DOWNLOAD</a>
								</td>
							</tr>
							<tr>
								<td>Unknown</td>
								<td>Unknown</td>
								<td>NasaHack 😱</td>
								<td>
									<a href="https://cararegistrasi.com/2wVxT3hpKSnh" target="_blank">DOWNLOAD</a>
								</td>
							</tr>
							<tr>
								<td>IDS China</td>
								<td>Unknown</td>
								<td>IDS China Untuk Verifikasi</td>
								<td>
									<a href="https://karyawan.co.id/LdSz7ey" target="_blank">DOWNLOAD</a>
								</td>
							</tr>
							<tr>
								<td>2ndLines</td>
								<td>Unknown</td>
								<td>Get Free Number So Easily</td>
								<td>
									<a href="https://karyawan.co.id/BEnZ2zDEPhg" target="_blank">DOWNLOAD</a>
								</td>
							</tr>
							<tr>
								<td>Netease CG</td>
								<td>V2.5.4</td>
								<td>Free CG For Genshin</td>
								<td>
									<a href="https://karyawan.co.id/zHfcWVwA" target="_blank">DOWNLOAD</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div> 
	</div> 
</section> 
